.app {
    font-family: 'JetBrains Mono', monospace;
    max-width: 1280px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin: 50px auto;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .app {
        box-shadow: none;
    }
    body {
        background: #f5f5f5;
        background-image: none;
    }
  }

@media screen and (max-width: 800px) {
    .app {
        box-shadow: none;
    }
    body {
        background: #f5f5f5;
        background-image: none;
    }
}